@page "/FormatoAgrupado"
@inject IDataArea DataArea;
@inject IDataCentro DataCentro;
@inject IDataLinea DataLinea;
@inject IDataAPI DataAPI;
@inject IDataLibroNov DataLibroNov;
@inject IDataTiParTP DataTiParTP;
@inject IDataClasifiTPM DataClasifiTPM;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager

<PageTitle>Formato</PageTitle>
@* //TODO: 
•   cargado mejor de la busqueda
*@

@if(IsCargado){
    <BSContainer PaddingBottom="Padding.Large">
        <BSRow>
            <h1 class="titulo">Libro de Novedades</h1>
        </BSRow>
    </BSContainer>
    <BSCard CardType="CardType.Card" style="width: 90%;" MarginBottom="Margins.Large">
        <BSAlert IsOpen="_showTooltip" style="height:55px;" class="alertaInfo"  @ref="_alertRef" Dismissed="Dismissed">
            <h5>@mensaje</h5>
        </BSAlert>
        <BSCard CardType="CardType.Body">
            @if(IsAcceso){
                <BSCard CardType="CardType.Text">
                    @if(dataNove.IdParada == "0"  || dataNove.IdParada == "-1"){
                        <BSRow> 
                            @if(dataNove.IdParada == "-1"){
                                <BSCol Position="Position.Relative" Place ColumnMedium="4">
                                        <BSLabel class="labelFormulario">Centro</BSLabel>
                                        <BSInput IsDisabled="false" InputType="InputType.Select" @bind-Value="dataNove.IdAreaCar" @onchange="BuscarLinea">
                                            @if(ListaCentro != null){
                                                <option value="0">Seleccione un Centro</option>
                                                @foreach (var item in ListaCentro)
                                                {
                                                    <option value="@item.IdCentro">@item.Cnom</option>
                                                }
                                            }else{
                                                <option value="0">Cargando...</option>
                                            }
                                        </BSInput>
                                </BSCol>
                            }
                            <BSCol Position="Position.Relative" Place ColumnMedium="4">
                                        <BSLabel class="labelFormulario">Linea</BSLabel>
                                        <BSInput InputType="InputType.Select" @bind-Value="dataNove.IdLinea" @onchange="BuscarTiempoPerdido">
                                            @if (dataNove.IdAreaCar != 0)
                                            {   
                                                @if(ListaLinea != null){
                                                    <option value="0">Seleccione un Linea</option>
                                                    @foreach (var item in ListaLinea)
                                                    {
                                                        <option value="@item.IdLinea">@item.Lnom</option>
                                                    }
                                                }else{
                                                    <option value="0">Cargando...</option>
                                                }
                                            }else{
                                                <option value="0">Seleccione un Centro</option>
                                            }
                                        </BSInput>
                            </BSCol>
                            <BSCol Position="Position.Relative" Align="Align.End"  AlignRow="OTRAlignRow" Place ColumnMedium="4">
                                @if(dataNove.IdLinea != 0){
                                    <BSButton class="buttonFormularioOK" style="margin-right: 10px;"  @onclick=SinPerdida>Sin Perdida De tiempo</BSButton>
                                }
                                @* <BSButton class="buttonFormularioDLT"  IsDisabled="@isDisabled"  @onclick=atras1>Atras</BSButton> *@
                            </BSCol>
                        </BSRow>  
                        <br>
                        <br>
                        @if(paradasBandera){
                                        <BSRow>
                                            <BSCol Position="Position.Relative" Place ColumnMedium="5">
                                                <BSLabel class="labelFormularioGrande">Tiempo Perdido (min) </BSLabel>
                                                <BSInput InputType="InputType.Number" @bind-Value="tiempoPerdido"  rows="1" ></BSInput>
                                            </BSCol>
                                            <BSCol Position="Position.Relative" Place ColumnMedium="4">
                                                <BSLabel class="labelFormulario">Causa</BSLabel>
                                                <BSInput InputType="InputType.Select" @bind-Value="dataNove.IdTipoNove">
                                                    @if(listaTiposNovedad != null){
                                                        <option value="0">Seleccione</option>
                                                        @foreach (var item in listaTiposNovedad)
                                                        {
                                                            <option value="@item.IdTiParTp">@item.Tpnombre</option>
                                                        }
                                                    }else{
                                                        <option value="0">Cargando...</option>
                                                    }
                                                </BSInput>
                                            </BSCol>
                                            <BSCol Position="Position.Relative" Class="AbajoBoton" Place ColumnMedium="3">
                                                <BSButton class="buttonFormularioOK" @onclick="eleccionSinGespline">Seleccionar</BSButton>
                                            </BSCol>
                                        </BSRow>
                        }else{
                            <BSTable IsResponsive="true" IsStriped="true">
                                <BSTHead>
                                    <BSTR class="cabeceraTabla">
                                        <BSTD>#</BSTD>
                                        <BSTD>Sección</BSTD>
                                        <BSTD>Descripcion</BSTD>
                                        <BSTD>Tiempo (min)</BSTD>
                                        <BSTD>Seleccionar</BSTD>
                                    </BSTR>
                                </BSTHead>
                                <BSTBody class="cuerpoTabla">
                                    @if(paradas == null){
                                        <BSTR>
                                            <BSTD ColSpan="5">Coloque una Linea</BSTD>
                                        </BSTR>
                                    }else{
                                        @foreach (var item in index)
                                        {
                                            <BSTR>
                                                <BSTD>@item</BSTD>
                                                <BSTD>@paradas[4][item]</BSTD>
                                                <BSTD>@paradas[3][item]</BSTD>
                                                <BSTD>@Math.Round(double.Parse(paradas[5][item]),2)</BSTD>
                                                @if(paradas[6][item] == "0"){
                                                    <BSTD><BSButton id="@item"  class="buttonFormularioOK" @onclick="@(e => eleccion(item))">Seleccionar</BSButton></BSTD>
                                                }else if(paradas[6][item] == "1"){
                                                    <BSTD><BSButton id="@item"  class="buttonFormularioCambio" @onclick="@(e => eleccion(item))">Actulizado</BSButton></BSTD>
                                                }else{
                                                    <BSTD><BSButton id="@item"  class="buttonFormularioDLT" @onclick="@(e => eleccion(item))">Por Actualizar</BSButton></BSTD>
                                                }
                                            </BSTR>
                                        }
                                    }
                                </BSTBody>
                            </BSTable>

                            @* @if(listaNoveSinTiempoPerdido != null){
                                            @foreach (var item in listaNoveSinTiempoPerdido)
                                            {
                                                <BSTR>
                                                    <BSTD>Sin seccion</BSTD>
                                                    <BSTD>@paradas[4][item]</BSTD>
                                                    <BSTD>@paradas[3][item]</BSTD>
                                                    <BSTD>@paradas[5][item].Substring(0,5).Replace(".",",")</BSTD>
                                                    
                                                </BSTR>
                                            }
                                        } *@
                        }
                    }else{
                        <BSForm Model="dataNove" IsRow="true" Gutters="Gutters.Medium" OnSubmit="OK">
                            <DataAnnotationsValidator />
                            <BSCol Position="Position.Relative" Place ColumnMedium="4">
                                    <BSLabel class="labelFormulario">Centro</BSLabel>
                                    <BSInput IsDisabled="true" InputType="InputType.Select" @bind-Value="dataNove.IdAreaCar" @onchange="BuscarLinea">
                                        @if(ListaCentro != null){
                                            <option value="0">Seleccione un Centro</option>
                                            @foreach (var item in ListaCentro)
                                            {
                                                <option value="@item.IdCentro">@item.Cnom</option>
                                            }
                                        }else{
                                            <option value="0">Cargando...</option>
                                        }
                                    </BSInput>
                            <BSFeedback For="@(() => dataNove.IdAreaCar)"/> 
                            </BSCol>
                            <BSCol Position="Position.Relative" Place ColumnMedium="4">
                                    <BSLabel class="labelFormulario">Linea</BSLabel>
                                    <BSInput InputType="InputType.Select" IsDisabled="true" @bind-Value="dataNove.IdLinea" @onchange="BuscarTiempoPerdido">
                                        @if (dataNove.IdAreaCar != 0)
                                        {   
                                            @if(ListaLinea != null){
                                                <option value="0">Seleccione un Linea</option>
                                                @foreach (var item in ListaLinea)
                                                {
                                                    <option value="@item.IdLinea">@item.Lnom</option>
                                                }
                                            }else{
                                                <option value="0">Cargando...</option>
                                            }
                                        }else{
                                            <option value="0">Seleccione un Centro</option>
                                        }
                                    </BSInput>
                                    <BSFeedback For="@(() => dataNove.IdLinea)"/> 
                            </BSCol>
                            <BSCol Position="Position.Relative" Place ColumnMedium="4">
                                    <BSLabel class="labelFormulario">Grupo</BSLabel>
                                    <BSInput IsDisabled="@isManualGT"  InputType="InputType.Select" @bind-Value="dataNove.Lngrupo">
                                        <option value="0">Seleccionar Grupo</option>
                                        <option value="A">Grupo A</option>
                                        <option value="B">Grupo B</option>
                                        <option value="C">Grupo C</option>
                                        <option value="D">Grupo D</option>
                                    </BSInput>
                                    <BSFeedback For="@(() => dataNove.Lngrupo)"/> 
                            </BSCol>
                            <BSCol Position="Position.Relative" Place ColumnMedium="4">
                                    <BSLabel class="labelFormulario">Turno</BSLabel>
                                    <BSInput  IsDisabled="@isManualGT" InputType="InputType.Select" @bind-Value="dataNove.Lnturno">
                                        <option value="0">Seleccionar Grupo</option>
                                        <option value="1">1er turno</option>
                                        <option value="2">2do truno</option>
                                    </BSInput>
                                    <BSFeedback For="@(() => dataNove.Lnturno)"/> 
                            </BSCol>
                            <BSCol Position="Position.Relative" Place ColumnMedium="5">
                                    <BSLabel class="labelFormularioGrande">Codigo de Equipo</BSLabel>
                                    <BSInput InputType="InputType.Text" rows="1" @bind-Value="dataNove.IdEquipo"></BSInput>
                                    <BSFeedback For="@(() => dataNove.IdEquipo)"/> 
                            </BSCol>
                            <BSCol Position="Position.Relative" style="display: flex;justify-content: center;align-items: end;" Place ColumnMedium="3">
                                        @if(IsChempro){
                                            <BSButton class="buttonFormularioOK" @onclick=IdMaquina>Cargar al EDIF</BSButton>
                                        }else{
                                            <BSButton class="buttonFormularioOK" @onclick=IdMaquina>Cargar al OFIC</BSButton>
                                        }
                            </BSCol>
                            @if(!IsChempro){
                                <BSCol Position="Position.Relative" Place ColumnMedium="5">
                                    <BSLabel class="labelFormulario">Clasificacion TPM</BSLabel>
                                    <BSInput InputType="InputType.Select" @bind-Value="dataNove.IdCtpm">
                                        @if(listaClasificacionTPM != null){
                                            <option value="0">Seleccione</option>
                                            @foreach (var item in listaClasificacionTPM)
                                            {
                                                <option value="@item.IdCtpm">@item.Ctpmnom</option>
                                            }
                                        }else{
                                            <option value="0">Cargando...</option>
                                        }
                                    </BSInput>
                                    <BSFeedback For="@(() => dataNove.IdCtpm)"/> 
                                </BSCol>
                                
                                <BSCol Position="Position.Relative" Place ColumnMedium="5">
                                        <BSLabel class="labelFormulario">Resuelto</BSLabel>
                                        <BSInput InputType="InputType.Select" @bind-Value="dataNove.LnisResu">
                                            <option value="0">No</option>
                                            <option value="1">Si</option>
                                        </BSInput>
                                        <BSFeedback For="@(() => dataNove.LnisResu)"/> 
                                </BSCol> 
                            }
                            

                            <BSCol Position="Position.Relative" Place ColumnMedium="12">
                                    <BSLabel class="labelFormulario">Discrepancia</BSLabel>
                                    <BSInput class="TextAreaMediano" InputType="InputType.TextArea" rows="5" @bind-Value="dataNove.Lndiscrepa"></BSInput>
                                    <BSFeedback For="@(() => dataNove.Lndiscrepa)"/> 
                            </BSCol>
                            <BSCol Position="Position.Relative" Place ColumnMedium="12">
                                    @if(dataNove.LnisResu == 1){
                                        <BSLabel class="labelFormulario">Acción</BSLabel>
                                    }else{
                                        <BSLabel class="labelFormulario">Observación</BSLabel>
                                    }
                    
                                    <BSInput class="TextAreaMediano" InputType="InputType.TextArea" rows="5" @bind-Value="dataNove.Lnobserv"></BSInput>
                                    <BSFeedback For="@(() => dataNove.Lnobserv)"/> 
                            </BSCol>
                            <BSCol Column="12">
                                    <BSButton class="buttonFormularioOK" IsDisabled="@isDisabled" IsSubmit="true">Registrar</BSButton>
                                    <BSButton class="buttonFormularioDLT"  IsDisabled="@isDisabled" @onclick=atras2 IsReset="true" >Atras</BSButton> 
                            </BSCol>
                        </BSForm>
                    }
                </BSCard>
            }
        </BSCard>
    </BSCard>
}else{
    <BSRow class="carga" Justify="Justify.Center">
        <BSCol Column="3">
        <div class="loader"></div>
        </BSCol>  
    </BSRow>
}
@code{
    private string? mensaje { get; set;}
    private LibroNove dataNove  { get; set;}

    private Dictionary<string,string> usuario { get; set;}
    private TiParTp tipoParada  { get; set;}
    private List<Centro> ListaCentro { get; set;}
    private List<Linea> ListaLinea { get; set;}
    private List<LinAre> ListaArea { get; set;}
    private BSAlert _alertRef;
    private double tiempoPerdido { get; set;}
    private bool _showTooltip;
    private int idLinea { get; set;}
    
    private bool _buttonDisabled = true;

    private List<List<string>> paradas;
    //public HttpClient cliente { get; set;}
    private List<int> index  { get; set;}

    private List<LibroNove> listaNove { get; set;}

    private List<LibroNove> listaNoveSinTiempoPerdido { get; set;}

    private List<ClasifiTpm> listaClasificacionTPM { get; set;}

    //private List<LibroNove> listaNove { get; set;}
    private List<TiParTp> listaTiposNovedad { get; set;}
    private ComponentBase contenedor { get; set;}
    private InputText inputTextReferencia {get; set;}
    private bool isDisabled  { get; set;}
    private bool paradasBandera {get; set;}
    private bool isDisabledArea { get; set;}
    private bool isDisabledLinea { get; set;}
    private bool bandera  { get; set;}
    private List<string> listaTurnoYGrupo { get; set;}
    private bool IsSinTiempo { get; set;}
    private bool IsCargado  { get; set;}
    private Dictionary<string,string>? usuarioCache {get; set;}
    private bool IsAcceso  { get; set;}

    private bool IsChempro  { get; set;}

    private bool IsNuevo  { get; set;}

    private int indexCambio  { get; set;}

    private bool isManualGT { get; set;}

    

    protected  async Task Carga()
    {
        if(true){
            dataNove.IdParada = "0";
            isDisabledArea = true;
            isDisabledLinea = true;
            usuarioCache = new Dictionary<string,string>();
            usuarioCache.Add("usuarioD",await sessionStorage.GetItemAsync<string>("usuarioD"));
            usuarioCache.Add("usuarioC",await sessionStorage.GetItemAsync<string>("usuarioC"));
            if(usuarioCache["usuarioD"] == "" ||  usuarioCache["usuarioD"]  == null){
                NavigationManager.NavigateTo("Login");
            }else{
                IsCargado = true;
                dataNove.LnfichaRes = await sessionStorage.GetItemAsync<string>("usuarioF");
                IsAcceso = true;
                if(usuarioCache["usuarioD"].Contains("CONVERSION") || usuarioCache["usuarioD"].Contains("CELDA")){
                    dataNove.IdAreaCar = 1;
                    ListaLinea = await DataLinea.ObtenerLasLineasPorCentro(1);
                }else if(usuarioCache["usuarioD"].Contains("MOLINO")){
                    dataNove.IdAreaCar = 2;
                    ListaLinea = await DataLinea.ObtenerLasLineasPorCentro(2);
                }else if(usuarioCache["usuarioD"].Contains("MEJORA CONTINUA")){
                    //dataNove.IdAreaCar = 1;
                    dataNove.IdAreaCar = 0;
                    isDisabledArea = false;
                    dataNove.IdParada = "-1";
                    isDisabledLinea = false;
                }else if(
                    usuarioCache["usuarioD"].Contains("CONTROL DE PROCESOS") ||
                    usuarioCache["usuarioD"].Contains("MANTENIMIENTO") ||
                    usuarioCache["usuarioD"].Contains("GCIA SERVICIOS INDUSTRIALES") ||
                    usuarioCache["usuarioC"].Contains("INGENIERO DE PROY. Y MEJ. CONT") ||
                    usuarioCache["usuarioD"].Contains("LABORATORIO") ||
                    usuarioCache["usuarioD"].Contains("SEGURIDAD INDUSTRIAL")
                ){
                    dataNove.IdAreaCar = 9;
                    ListaLinea = await DataLinea.ObtenerLasLineasPorCentro(9);
                    IsChempro = true;
                    isManualGT = false;
                    dataNove.IdCtpm = 5;
                    dataNove.LnisResu = 2;
                }else{
                    IsAcceso = false;
                    mensaje = "No posee autorización para ingresar a este módulo";
                }
            }
        }
        IsCargado = true;
    }
    
    protected override async Task  OnInitializedAsync()
    {
        IsChempro = false;
        isManualGT = true;
        IsCargado = false;
        IsAcceso = false;
        mensaje = "Registre una Novedad";
        dataNove = new LibroNove();
        dataNove.Lnobserv = "";
        dataNove.Lndiscrepa = "";
        dataNove.LnisResu = 0;
        dataNove.IdCtpm = 2;
        ListaCentro = await DataCentro.ObtenerTodosLosCentro();
        listaTurnoYGrupo = await DataAPI.ObtenerTurnoYGrupo();
        listaTiposNovedad = await DataTiParTP.ObtenerTodosTiposNovedad();
        listaClasificacionTPM = await DataClasifiTPM.ObtenerClasificacion();
        //ListaArea = new List<LinAre>();
        //ListaLinea = new List<Linea>();
        //paradas = new List<List<string>>();
        //index = new List<int>();
        indexCambio = -1;
        isDisabled = false;
        paradasBandera = false;
        tiempoPerdido = 0;
        IsSinTiempo = false;
        await this.Carga();
    }
    protected async Task OK(EditContext e){
        isDisabled = true;
        dataNove.Lnfecha = DateTime.Now;
        if (e.Validate())
        {
            dataNove.Lnobserv = dataNove.Lnobserv.Trim();
            if((dataNove.LnisResu == 1 && dataNove.Lnobserv != "") || dataNove.LnisResu != 1){
                //TODO: FALTA ACTUALIZACION DEL ESTADO DEL DE LAS LISTAS DEL GEPLINE
                dataNove.LnfichaRes = dataNove.LnfichaRes.ToUpper();
                dataNove.IdEquipo = dataNove.IdEquipo.Trim().ToUpper();
                dataNove.Lndiscrepa = dataNove.Lndiscrepa.Trim();
                dataNove.LntiePerMi = Math.Round(dataNove.LntiePerMi,5);
                try
                {
                    if(IsChempro){
                        dataNove.IdParada = "CH-" + usuarioCache["usuarioD"].Replace(" ","").Substring(0,7);
                    }
                    if(IsNuevo){
                        bandera = await DataLibroNov.InsertarRegistro(dataNove);
                    }else{
                        bandera = await  DataLibroNov.ActualizacionCompleta(dataNove.IdlibrNov,dataNove);
                    }
                    if(bandera){
                        mensaje = "Guardado Exitosamente";
                        int d1 = dataNove.IdAreaCar;
                        int d2 =  dataNove.IdLinea;
                        int d3 = -1;
                        //if(dataNove.IdParada != null){
                        //    d3 = paradas[0].FindIndex(d => d.Contains(dataNove.IdParada.ToString()));
                        //}
                        string d4 = dataNove.LnfichaRes;
                        string d5 = dataNove.IdMaquina;
                        if(indexCambio != -1){
                            paradas[6][indexCambio] = "1";
                        }
                            
                        dataNove = new LibroNove();
                        dataNove.IdAreaCar = d1;
                        dataNove.IdLinea = d2;
                        dataNove.LnfichaRes = d4;
                        dataNove.IdMaquina = d5;
                        dataNove.IdParada = "0";
                        dataNove.Lnturno = listaTurnoYGrupo[0];
                        dataNove.Lngrupo = listaTurnoYGrupo[1];
                        
                        indexCambio = -1;
                        //index = new List<int>(paradas[0].Count());
                        //for (int i = 0; i < index.Capacity; i++){  index.Add(i); }

                    }else{
                        mensaje = "Error. Intente de nuevo";
                    }
                }
                catch (Microsoft.EntityFrameworkCore.DbUpdateException a)
                {
                    mensaje = "Ese elemento ya fue registrado. Por favor seleccione otra causa";
                    dataNove = new LibroNove();
                    dataNove.Lnturno = listaTurnoYGrupo[0];
                    dataNove.Lngrupo = listaTurnoYGrupo[1];
                    usuario =null;
                }
            }else{
                mensaje = "La descripción de la acción tomada es obligatoria";
            }
        }
        isDisabled = false;
        _showTooltip = true;
    }

    protected async Task BuscarLinea(ChangeEventArgs e){
        dataNove.IdAreaCar = Int32.Parse(e.Value.ToString());
        if(dataNove.IdAreaCar != 0){
            ListaLinea = await DataLinea.ObtenerLasLineasPorCentro(dataNove.IdAreaCar);
        }else{
            dataNove.IdLinea = 0;
        }
    }

    protected async Task BuscarTiempoPerdido(ChangeEventArgs e){
        dataNove.IdLinea = int.Parse(e.Value.ToString());
        Linea linea =  ListaLinea.Where(l => l.IdLinea == int.Parse(e.Value.ToString())).FirstOrDefault();
        dataNove.IdMaquina = linea.Lofic;
        listaNove = await DataLibroNov.RegistroDeHoyPorLinea(dataNove.IdLinea);
        listaNoveSinTiempoPerdido = listaNove.Where(n => n.LntiePerMi == -1).ToList();
        paradas = await DataAPI.obtenerParadasActualesturnoPorLineaAgrupadas(linea.LcenCos);
        List<string> listaDeEstado = new List<string>();
        string temporal;
        LibroNove? dataNov;
        double parada;
        
        for (int i = 0; i < paradas[0].Count; i++)
        {
            temporal = paradas[0][i] + "-" + paradas[1][i] + "-" + paradas[2][i] + "-" +  DateTime.Now.ToString("ddMMyyyy") + "-" + listaTurnoYGrupo[0] + listaTurnoYGrupo[1];
            dataNov = listaNove.Where(n => n.IdParada == temporal).FirstOrDefault();
            if(dataNov == null){
                listaDeEstado.Add("0");
                continue;
            }else{
                parada = Math.Round(double.Parse(paradas[5][i]),5);
                if(dataNov.LntiePerMi == parada){
                    listaDeEstado.Add("1");
                }else{
                    listaDeEstado.Add("2");
                }
            }
        }
        paradas.Add(listaDeEstado);

        if(paradas.Count != 0){
            if(paradas[0].Count == 0){
                paradasBandera = true;
                index = new List<int>();
            }else{
                paradasBandera = false;
                index = new List<int>(paradas[0].Count());
                for (int i = 0; i < index.Capacity; i++){  index.Add(i); }
            }
        }else{
            paradasBandera = true;
            index = new List<int>();
        }
    }

    public async Task eleccion(int item){
        //? al agregar 1 indica que son datos del Gespline
        //string a = await ReturnArrayAsync(item.ToString());
        indexCambio = item;
        string temporal = paradas[0][item] + "-" + paradas[1][item] + "-" + paradas[2][item] + "-" +  DateTime.Now.ToString("ddMMyyyy") + "-" + listaTurnoYGrupo[0] + listaTurnoYGrupo[1];
        LibroNove data = await DataLibroNov.ObtenerPorIdParada(temporal);
        if(data == null){
            tipoParada = await DataTiParTP.ObtenerTipoParadaId(paradas[1][item]);
            dataNove.IdTipoNove = tipoParada.IdTiParTp;
            dataNove.LntiePerMi = Math.Round(double.Parse(paradas[5][item]),5);
            dataNove.Lnturno = listaTurnoYGrupo[0];
            dataNove.Lngrupo = listaTurnoYGrupo[1];
            dataNove.IdEquipo = "";
            dataNove.Lnobserv = "";
            dataNove.Lndiscrepa = "";
            dataNove.IdParada =  temporal;
            IsNuevo = true;
            dataNove.IdCtpm = 2;
        }else{
            dataNove.IdLinea = data.IdLinea;
            dataNove.IdAreaCar = data.IdAreaCar;
            dataNove.IdEquipo = data.IdEquipo;
            dataNove.IdlibrNov =  data.IdlibrNov;
            dataNove.IdMaquina = data.IdMaquina;
            dataNove.IdParada = data.IdParada;
            dataNove.IdTipoNove = data.IdTipoNove;
            dataNove.Lndiscrepa = data.Lndiscrepa;
            dataNove.Lnfecha = data.Lnfecha;
            dataNove.LnfichaRes = data.LnfichaRes;
            dataNove.Lngrupo = data.Lngrupo;
            dataNove.LnisPizUni = data.LnisPizUni;
            dataNove.Lnobserv = data.Lnobserv;
            dataNove.LntiePerMi = Math.Round(double.Parse(paradas[5][item]),5);
            dataNove.Lnturno = data.Lnturno;
            dataNove.IdCtpm = data.IdCtpm;
            dataNove.LnisResu = data.LnisResu;
            IsNuevo = false;
        }
    }

    public async Task eleccionSinGespline(){
        dataNove.Lnturno = listaTurnoYGrupo[0];
        dataNove.Lngrupo = listaTurnoYGrupo[1];
        dataNove.IdCtpm = 2;
        IsNuevo = true;
        if(tiempoPerdido != 0 && dataNove.IdTipoNove != 0){
            dataNove.IdParada = null;
            dataNove.LntiePerMi = tiempoPerdido;
            tiempoPerdido = 0;
            mensaje = "";
        }else{
            mensaje = "Coloque un tiempo mayor a 0 y una cauda especifica";
        }
    }

    public async Task SinPerdida(){
        IsNuevo = true;
        dataNove.Lnturno = listaTurnoYGrupo[0];
        dataNove.Lngrupo = listaTurnoYGrupo[1];
        dataNove.IdParada = null;
        dataNove.Lndiscrepa = "";
        dataNove.Lnobserv = "";
        dataNove.IdEquipo = "";
        dataNove.LntiePerMi = -1;
        dataNove.IdTipoNove = 19;
        dataNove.IdCtpm = 2;
        tiempoPerdido = 0;
        mensaje = "";
    }

    public async Task atras1(){
        usuario = null;
        dataNove = new LibroNove();
        paradas = null;
        dataNove.Lnturno = listaTurnoYGrupo[0];
        dataNove.Lngrupo = listaTurnoYGrupo[1];
    }

    public async Task atras2(){
        dataNove.IdParada = "0";
    }

    public async Task IdMaquina(){
        dataNove.IdEquipo = dataNove.IdMaquina;
    }
    
    //[JSInvokable]
    //public static Task<string> ReturnArrayAsync(string item)
    //{
    //    return Task.FromResult(item);
    //}

    private void Dismissed()
    {
        _buttonDisabled = false;
    }

}



